/* Оформление ссылок */
a.bottommenu {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: #313131;
}

a.bottommenu:hover {
    text-decoration: none;
    color: #000000;
}

/* ШРИФТЫ */
h1.slederfon /*Заголовок разделов основной*/
{
    font-family: bebas_neue;
    font-size: 32pt;
    padding-bottom: 40px;
    color: #fff;
}

h2.sliderfon	/*Заголовок расшифровка под разделами*/
{
    font-family: CondLightFree;
    font-size: 20pt;
    padding-bottom: 20px;
    color: #fff;
}

h2.uslugi  /* Шрифт для описания услуг */
{
    font-family: bebas_neue;
    font-size:16pt;
    font-weight: normal;
}

h3.razdel {
    font-family: bebas_neue;
    font-size:16pt;
    font-weight: normal;
}

span.textusluga {
    font-family: MagistralC;
    font-size:11pt;
    font-weight: normal;
    text-align:justify;
}

/*фоновое для шапки сайта*/
.indextopslide {
    width: 100%;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    background-attachment: fixed;
    background-position: center center;
    /*border-top: 1px solid #e4e4e4;*/
    height: 94vh;
    text-align: center;
    vertical-align: bottom;
    display: flex;
}

.inner {
/*    width: 100px;*/
    margin: auto;
}

/* Эффекты изабражений*/
img.rev{
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.4);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.4);
    box-shadow: 0 2px 3px rgba(0,0,0,.4);}

img.rev:hover{
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.6);
    -moz-box-shadow: 0 3px 5px rgba(0,0,0,.6);
    box-shadow: 0 3px 5px rgba(0,0,0,.6);}

div.shadow {
    background: #ffffff; /* Цвет фона */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
}
